<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_faculty_vs_coach.css">
    <title>Faculty VS. Coaches - Salaries</title>
    <link rel="stylesheet" href="style_faculty_vs_coach.css">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap" rel="stylesheet">    
    
    <!--Vega Lite-->
    <script src="https://cdn.jsdelivr.net/npm/vega@5.25.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.16.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.2"></script>

    <!--GSAP-->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
</head>
<body>
    <div class="title">
        <h1>Who Gets Paid More? <br>Coaches or Faculty?</h1>
    </div>
    
    <div class="text">
        <h3 id="title-desc">
            Below, we have two graphs that compare the yearly salaries made by coaches 
            and teaching faculty across different UMass universities: <br><br>
              
            <div class="logos">
                <span style="color: #971B2F">Amherst:</span>
                <img src="../imgs/uma.png" style="width: 15%; margin-right: 1em">

                <span style="color: #4278D3">Boston:</span>
                <img src="../imgs/umb.svg" style="width: 18%">
                <br>

                <span style="color: #cd8d03">Dartmouth:</span>
                <img src="../imgs/umd.svg" style="width: 20%; margin-right: 1em">
                
                <span style="color: black">Lowell:</span>   
                <img src="../imgs/uml.png" style="width: 10%">
                <br>
                <span style="color: #2B328A">Worcester:</span>
                <img src="../imgs/umw.png" style="width: 20%">
            </div>
        </h3>
    </div>

    <div class="graph">
        <img src="../imgs/coach_vs_faculty_graphs.svg">
    </div>

    <div class="info">
        <h3>
            Something that stood out from these graphs is Amherst's graph for coaches. There
            was a spike in the salaries of coaches between 2020 and 2022, which was when the COVID-19 pandemic was happening.
            In 2020, they hired Don Brown as their new head coach, which could explain the spike in salaries.
            However, we see a higher spike in 2022, as they hired Frank Martin as their new head coach. 
            <br><br>
            These two coaches are well known in the sports world, and having them lead the young players
            at UMass Amherst in the NCAA Division I level is a privilege.
            <br><br>
            
            However, it's important to recognize that faculty members are also important in the university setting.
            They are the ones who teach the students and help them grow academically.
            Not everyone is involved in sports, so it's important to not forget about faculty members.
            <br><br>

            This was done with the purpose of visualizing data and see what we can learn from data.
            If you'd like to get more information about the data, data is available upon request.
        </h3>
    </div>

    <div class="salaries-and-ratings-link">
        Click <a href="salaries_and_ratings.html">here</a> to compare the salaries of faculty and coaches.
    </div>

    <script src="scroll.js"></script>
</body>
</html>