<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher Rating = Higher Pay?</title>
    <link rel="stylesheet" href="style_salaries_and_ratings.css">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
    
    <!--Vega Lite-->
    <script src="https://cdn.jsdelivr.net/npm/vega@5.25.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.16.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.2"></script>

    <!--GSAP-->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
</head>
<body>
    <div class="title">
        <h1>Does Higher Professor Rating <br> Suggest Higher Pay?</h1>
    </div>
    <div class="text">
        <h3 id="title-desc">
            To answer the question, let's explore some data. <br><br>
            Here are the <span style="text-decoration: underline; color: #0369a8">average salaries</span> of professors within 
            <span style="text-decoration: underline; color: #0369a8">each department</span> at UMass Boston, 
            both with <span style="text-decoration: underline; color: green">good</span> and <span style="text-decoration: underline; color: red">bad</span> reviews, collected from RateMyProfessors:
        </h3>
        <img id="umb-logo" src="../imgs/umb_logo.png">
    </div>

    <h2 class="subtitles">College of Management</h2>
    <div id="title-desc" class="text">
        <h3>
            <span style="color: green">Good reviews are higher than a rating of 3</span>
            <br><br>
            <span style="color: red">Bad reviews are lower than a rating of 3</span>

        </h3>
    </div>
    <div class="management">
        <img id="thumbsup" src="../imgs/thumbsup.png">
        <div id="management-graph-good"></div>
        <img id="thumbsdown" src="../imgs/thumbsdown.png">
        <div id="management-graph-bad"></div>
        <div class="text">
            <h3>
                This is a good start to our exploration! 
                <br><br>
                The higher the rating, the higher the salary! 
                <br><br>
                Let's keep exploring to see if our hypothesis holds true for other departments as well &#128540!
            </h3>
        </div>
    </div>

    <h2 class="subtitles">College of Education & Human Development</h2>
    <div class="education">
        <div class="text">
            <h3>
                Great, we have our answer here! 
                There is a <span style="text-decoration: underline">positive correlation</span> 
                between <span style="text-decoration: underline">rating</span> and 
                <span style="text-decoration: underline">salary</span> &#127881! 
                <br><br>
                Let's check the remaining departments.
            </h3>
        </div>
        <div id="education-graph-good"></div>
        <img id="thumbsup" src="../imgs/thumbsup.png">
        <div id="education-graph-bad"></div>
        <img id="thumbsdown" src="../imgs/thumbsdown.png">
    </div>

    <h2 class="subtitles">College of Science & Mathematics</h2>
    <div class="csm">
        <img id="thumbsup" src="../imgs/thumbsup.png">
        <div id="csm-graph-good"></div>
        <img id="thumbsdown" src="../imgs/thumbsdown.png">
        <div id="csm-graph-bad"></div>
        <div class="text">
            <h3>
                Hmm, <span style="text-decoration: underline">Chemistry</span> seems to show the same as above.
                <br> <br>
                However, it doesn't seem like it for the rest 👀
            </h3>
        </div>
    </div>
    <br><br><br><br><br>

    <h2 class="subtitles">Manning College of Nursing & Health Sciences</h2>
    <div class="nursing">
        <div class="text">
            <h3>
                Uhh..., now, we see that the lower the rating, the higher the pay. 
            </h3>
        </div>
        <div id="nursing-graph-good"></div>
        <img id="thumbsup" src="../imgs/thumbsup.png">
        <div id="nursing-graph-bad"></div>
        <img id="thumbsdown" src="../imgs/thumbsdown.png">
    </div>
    <br><br><br><br><br>

    <h2 class="subtitles">School for the Environment</h2>
    <div class="environment">
        <img id="thumbsup" src="../imgs/thumbsup.png">
        <div id="environment-graph-good"></div>
        <img id="thumbsdown" src="../imgs/thumbsdown.png">
        <div id="environment-graph-bad"></div>
        <div class="text">
            <h3>
                Hmm..., interesting.
            </h3>
        </div>
    </div>

    <h2 class="subtitles">College of Liberal Arts</h2>
    <div class="cla">
        
        <img id="thumbsup" src="../imgs/thumbsup.png">
        <div id="cla-graph-good"></div>
        <img id="thumbsdown" src="../imgs/thumbsdown.png">
        <div id="cla-graph-bad"></div>
    </div>
    <div class="info">
        <h3>
            We've seen mixed results across the colleges.
            <br><br>
            What is the conclusion &#128187? <br><br>
            The conclusion is that it is <span style="text-decoration: underline; color: lightgreen">encouraged for everyone to fact check the data themselves.</span>
            Even though the data shows a correlation between rating and salary, 
            it's important to remember that <span style="text-decoration: underline; color: rgb(255, 95, 95)">correlation does not imply causation.</span> <br><br>

            <span style="text-decoration: underline; color: rgb(155, 155, 255)">Here is an example:</span> in the 
            <span style="text-decoration: underline; color: rgb(155, 155, 255)">College of Nursing</span>, 
            the professors are <span style="text-decoration: underline; color: rgb(155, 155, 255)">full-time nurses</span>.
            This means that some of them are part-time professors, so they won't get paid as much as full-time professors.
            <br><br>

            Things to mention are that the <span style="text-decoration: underline; color: lightsalmon">data is not recently updated</span>,
            as some professors are not listed in the data.
            Also, <span style="text-decoration: underline; color: lightsalmon">professor roles matter here</span> as well, 
            so it's important to take them into account when looking at the salary.
            <br><br>

            <span style="text-decoration: underline; color: #fdfd8e">We can't blindly believe what we see on the web.</span> <br>
            This was made to encourage people to make sense out of data themselves 
            and find out why things are the way they are, taking into account many factors.
            <br><br>
            <span style="text-decoration: underline; color: #0597f2">Data:</span> 
            upon request.

        </h3>
    </div>

    <div class="faculty-vs-coach-link">
        Click <a href="faculty_vs_coach.html">here</a> to compare the salaries of faculty and coaches.
    </div>

    <script src="../vega-lite-json/csm.js"></script>
    <script src="../vega-lite-json/nursing.js"></script>
    <script src="../vega-lite-json/management.js"></script>
    <script src="../vega-lite-json/environment.js"></script>
    <script src="../vega-lite-json/education.js"></script>
    <script src="../vega-lite-json/cla.js"></script>
    <script src="scroll.js"></script>
</body>
</html>