:root {
    /* Color variables */
    --blue: #0745ee;
    --sand: #f8ead8;
    --orange: #ee4508;
}

html {
    background-color: var(--sand);
    width: 100%;
    height: 100%;
    font-family: "Jersey 25", sans-serif;
}

/* Target the entire webpage */
body::-webkit-scrollbar {
    width: 0.7em;
}
  
/* Track (the background of the scrollbar) */
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle (the draggable part of the scrollbar) */
body::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.title {
    color: var(--blue);
    font-size: 4em;
    padding: 1em;
    text-align: center;
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.info {
    color: var(--blue);
    padding: 2em;
    text-align: center;
    font-size: 1.5em;
    margin-left: 10em;
    margin-right: 10em;
}

.text {
    color: var(--orange);
    font-size: 3em;
    padding: 1em;
    text-align: center;
}

.salaries-and-ratings-link {
    color: var(--orange);
    font-size: 2em;
    padding: 3em;
    text-align: center;
}